<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>
            Stock Prediction Website
        </title>
        <style>
            .center {
                text-align: center;
            }

            .center-inner {
                margin: 0 auto;
                width: auto;
            }
        </style>
    </head>

        <body class="center">
            <h1 class = 'center'>Smart Trader Console</h1>
            
            <p class = 'center'>Assume today's date is: </p> 

            <form class = 'center' method="post">
                <input type= "date" id="name" name="date" required>
                <button type="submit">Submit</button>
            </form>
            
            <% if (has_date) { %>
                <div class = "center center-inner">
                    <h1 class="center">Predicted prices for next 5 days (in USD) are:</h1>
                    
                    <table class="center center-inner">
                        <thead class="center">
                            <tr class>
                                <th>Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>High</th>
                                <th>Low</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < 5; i++) { %>
                                <tr>
                                    <td><%= pred[i].date %></td>
                                    <td><%= pred[i].open %></td>
                                    <td><%= pred[i].close %></td>
                                    <td><%= pred[i].high %></td>
                                    <td><%= pred[i].low %></td>
                                </tr>
                            <% } %>
                            
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <h1 class="center">Predictions for next 5 days</h1>
                    <table class="center center-inner">
                        <tbody>
                        
                            <tr>
                                <td>High</td>
                                <td><%= highest %></td>
                            </tr>
                            <tr>
                                <td>Low</td>
                                <td><%= lowest %></td>
                            </tr>
                            <tr>
                                <td>Average Closing Price</td>
                                <td><%= average %></td>
                            </tr>

                        </tbody>
                    </table>
                    <br />
                    <br />
                    
                    <h1 class="center">Recommended Trading Strategy</h1>
                    
                    <table class="center center-inner">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let i = 0; i < 5; i++) { %>
                                <tr>
                                    <td><%= pred[i].date %></td>
                                    <td><%= pred[i].label %></td>
                                </tr>
                            <% } %>
                            
                        </tbody>
                        
                    </table>
                </div>

            <%  } else { %>
                <p class="center">Please enter a date to get predictions!!!</p>
            <% } %>

    
        </body>
    
</html>